:root {
  /* Cal Poly green to be used for buttons and possible headings*/
  /* --cp-green: #1e4d2b; old green*/
  --cp-green: #154734;
  --cp-gold: #bd8b13;

  --cp-stadium-gold: #f8e08e;
  --cp-mission-beige: #e4e3d3;

  /* Primary text color for crisp accessibility */
  --text-primary: #333333;

  --background-light: #ffff;
  --background-dark: ;
  --background-light-hover: ;
  --background-dark-hover: ;

  --font-heading: "Utopia", "Georgia", serif;
}
