.navbar {
  height: 70px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-light);
}

.navbar-search {
  flex: 1;
  margin-left: 0 auto;
  padding-left: 40px;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0 auto;
  gap: var(--gap-xl);
  padding-right: 40px;
}

.notification-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  transition: color var(--transition-fast);
}

.notification-icon:hover {
  scale: 1.01;
  color: var(--hover-green);
  background-color: var(--bg-hover-light);
}

.calendar-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  transition: color var(--transition-fast);
}

.calendar-icon:hover {
  scale: 1.01;
  color: var(--hover-green);
  background-color: var(--bg-hover-light);
}
