.navbar {
  height: 70px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-search {
  flex: 1;
  margin-left: 0 auto;
  padding-left: 40px;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0 auto;
  gap: 20px;
  padding-right: 40px;
}

.notification-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.notification-icon:hover {
  scale: 1.01;
  color: #2a6a3b;
  background-color: #f8f9fa;
}

.calendar-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  transition: color 0.2s;
}

.calendar-icon:hover {
  scale: 1.01;
  color: #2a6a3b;
  background-color: #f8f9fa;
}
