.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0 15px;
  width: 45%;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  color: #9b9b9b;
  margin-right: 10px;
}

.searchBar {
  border: none;
  outline: none;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  background: transparent;
  color: #333;
}

.search-container:focus-within {
  border-color: #2a6a3b;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
}

.searchBar::placeholder {
  color: #9b9b9b;
}
