.button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-teal);
  color: var(--bg-white);
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-weight: bold;
  transition: all var(--transition-normal);
}

.button:hover {
  scale: 1.01;
  background-color: var(--primary-teal-hover);
}
