.button {
  width: 100%;
  padding: 12px;
  background-color: var(--cp-green);
  color: white;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  font-weight: bold;
  transition: var(--button-transition);
}

.button:hover {
  transform: scale(var(--button-hover-scale));
  opacity: var(--button-hover-opacity);
}
